$gap: 10px;
$padding: 20px;
$color: #48cae4;

$bp: (
	mobile: 480px,
	tablet: 768px,
	desktop: 1440px,
);

@mixin query($screen) {
	@each $key, $value in $bp {
		@if ($screen == $key) {
			@media (max-width: $value) {
				@content;
			}
		}
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	body {
		font-family: sans-serif;
		font-size: 24px;
		width: 100%;
		min-height: 100vh;
		background-color: #b2127d;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.container {
	height: 350px;
	width: 350px;
	background-color: #14c6cc;
	display: flex;
	flex-direction: column;
	border-radius: 17px;
	gap: $gap;
	padding: $padding;
	justify-content: space-around;
	// align-items: center;
}

[class^='block-'] {
	display: flex;
	justify-content: space-around;
	gap: $gap;
}

.box,
.box-2,
.calc,
.cancel {
	background-color: #fff0f5;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	border-radius: 50px;
	cursor: pointer;
}

.cancel {
	background-color: #ffdf27;
	flex: 1;
}
.box-2 {
	text-align: end;
	background-color: #1badb2;
	flex: 3;
	border: none;
	padding-right: 25px;
}

.box-17 {
	background-color: #1badb2;
}
